@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="main-text">
    My name is Michael Tryfanau, and I am a computer science student in Kraków, Poland. <br /><br />
    This project presents, on its surface, a mashup of the ideas and concepts from the coursework, as well as a popular open-world game from Sweden.<br />
    <br /><br />
    Specifications:
    <p style="font-family: 'Source Code Pro'">SmallTorusMap(10, 6)<br />
    Creeper("Boomer")&zwj;(1,&nbsp;5), Human("Steve")&zwj;(0,&nbsp;1), 
    Birds("Chicks", 9, can't fly)&zwj;(8,&nbsp;4), Animals("Sheep", 6)&zwj;(7,&nbsp;3), 
    Birds("Ender Dragon", 1, Can fly)&zwj;(3,&nbsp;4);
    </p>
    <p>Materials used in the project: <a class="about-links" href="https://uekkrakowpl-my.sharepoint.com/:w:/g/personal/231284_student_uek_krakow_pl/EYFSae8Cq39ErCQUx5WhlwwBUtsW8K3eKa_hzo80FWKCvA?e=5V4pEb">HERE</a></p>
    <p>Main inspiration for the project: <a class="about-links" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">HERE</a></p>
</div>


