@page
@model IndexModel
@{
    ViewData["Title"] = "Main project page";
}
<h1>@ViewData["Title"]</h1>
<form class="directions-form" method="get" action="/Simulation">
    <button type="submit">GO!</button>
</form>