@page
@model SimWeb.Pages.SimulationModel
@{
    ViewData["Title"] = "Simulation";
}
<h1>SIMULATION</h1>
<h2>Turn: @Model.TurnStamp</h2>
<div>
    <div class="game-board">
        @Model.Grid
    </div>
    <form asp-page-handler="Previous" method="post">
        <button>Previous</button>
    </form>
    <form asp-page-handler="Next" method="post">
        <button>Next</button>
    </form>
</div>
