@page
@model SimWeb.Pages.SimulationModel
@{
    ViewData["Title"] = "Simulation";
}
<h1>SIMULATION</h1>
<div class="steerers">
    <form asp-page-handler="Previous" method="post">
        <input type="hidden" name="Moves" value="@Model.Moves" />
        <button class="steerer" id="prev">Previous</button>
    </form>
    <form asp-page-handler="Next" method="post">
        <input type="hidden" name="Moves" value="@Model.Moves" />
        <button class="steerer" id="nxt">Next</button>
    </form>
</div>
@Html.Raw(Model.Field)