<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Site Name</title>
    <link rel="stylesheet" href="~/css/site.css"
          asp-append-version="true" />
    <script src="~/js/site.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Redacted+Script:wght@300;400;700&family=Rubik+Dirt&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="menu">
            <p class="menu-title">Michael Tryfanau's project</p>
            <a asp-area="" asp-page="/Index">Home</a>
            <a asp-area="" asp-page="/About">About</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>
            Michael Tryfanau, 2025.
        </p>
    </footer>
</body>
</html>